<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./libs/bootstrap/css/bootstrap-theme.css">
	<link rel="stylesheet" href="./css/html.css">
</head>

<body>
	
</body>

<script src="./libs/jquery.min.js"></script>
<script src="./libs/bootstrap/js/bootstrap.min.js"></script>

</html>