<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./libs/codemirror/lib/codemirror.css">
  <script src="./libs/codemirror/lib/codemirror.js"></script>
  <script src="./libs/codemirror/mode/xml/xml.js"></script>
  <script src="./libs/codemirror/mode/css/css.js"></script>
  <script src="./libs/codemirror/mode/javascript/javascript.js"></script>
  <script src="./libs/codemirror/mode/htmlmixed/htmlmixed.js"></script>

  <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/html.css">
  <script src="./libs/jquery.min.js"></script>
  <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" style="background: #96b97d;">
    <div class="container">
      <div class="navbar-header logo">
        <h1>
          <a target="_blank" href="/" style="display: block;">REANOD.COM</a></h1>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <form class="form-inline">
              <div class="row">
                <div class="col-xs-6">
                  <button type="button" class="btn btn-default">源代码：</button>
                </div>
                <div class="col-xs-6 text-right">
                  <button type="button" class="btn btn-success" onclick="submitTryit()" id="submitBTN"><span class="glyphicon glyphicon-send"></span> 点击运行</button>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <textarea id="textareaCode" class="form-control"><%= textHtml %></textarea>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <button type="button" class="btn btn-default">运行结果</button>
          </div>
          <div class="panel-body">
            <div id="iframewrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("textareaCode"), {
    mode: 'htmlmixed',
    selectionPointer: true,
    lineNumbers: false,
    matchBrackets: true,
    indentUnit: 2,
    indentWithTabs: true,
    lineWrapping: true,
    extraKeys: {}
  });

  window.addEventListener("resize", autodivheight);

  var x = 0;

  function autodivheight() {
    var winHeight = 0;
    if (window.innerHeight) {
      winHeight = window.innerHeight;
    } else if ((document.body) && (document.body.clientHeight)) {
      winHeight = document.body.clientHeight;
    }
    //通过深入Document内部对body进行检测，获取浏览器窗口高度
    if (document.documentElement && document.documentElement.clientHeight) {
      winHeight = document.documentElement.clientHeight;
    }
    height = winHeight * 0.68
    editor.setSize('100%', height);
    document.getElementById("iframeResult").style.height = height + "px";
  }

  function submitTryit() {
    var text = editor.getValue();
    var patternHtml = /<html[^>]*>((.|[\n\r])*)<\/html>/im
    var patternHead = /<head[^>]*>((.|[\n\r])*)<\/head>/im
    var array_matches_head = patternHead.exec(text);
    var patternBody = /<body[^>]*>((.|[\n\r])*)<\/body>/im;

    var array_matches_body = patternBody.exec(text);
    var basepath_flag = 1;
    var basepath = '';
    if (basepath_flag) {
      basepath = '<base href="http://www.runoob.com" target="_blank">';
    }
    if (array_matches_head) {
      text = text.replace('<head>', '<head>' + basepath);
    } else if (patternHtml) {
      text = text.replace('<html>', '<head>' + basepath + '</head>');
    } else if (array_matches_body) {
      text = text.replace('<body>', '<body>' + basepath);
    } else {
      text = basepath + text;
    }
    var ifr = document.createElement("iframe");
    ifr.setAttribute("frameborder", "0");
    ifr.setAttribute("id", "iframeResult");
    document.getElementById("iframewrapper").innerHTML = "";
    document.getElementById("iframewrapper").appendChild(ifr);

    var ifrw = (ifr.contentWindow) ? ifr.contentWindow : (ifr.contentDocument.document) ? ifr.contentDocument.document : ifr.contentDocument;
    ifrw.document.open();
    ifrw.document.write(text);
    ifrw.document.close();
    autodivheight();
  }
  submitTryit();
  autodivheight();
</script>

</html>