body {
  min-height: 300px;
  padding-top: 90px;
  background: #f6f6f6;
}

.container {
  width: 98%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.CodeMirror {
  min-height: 300px;
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
}

#textareaCode {
  min-height: 300px
}

#iframeResult {
  display: block;
  overflow: hidden;
  border: 0!important;
  min-width: 100px;
  width: 100%;
  min-height: 300px;
  background-color: #fff
}

@media screen and (max-width:768px) {
  #textareaCode {
    height: 300px
  }
  .CodeMirror {
    height: 300px;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
  }
  #iframeResult {
    height: 300px
  }
  .form-inline {
    padding: 6px 0 2px 0
  }
}

.logo a {
  font-family: -webkit-pictograph;
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}